aniso8601==8.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.3.4
async-generator==1.10
attrs==20.3.0
Automat==20.2.0
autopep8==1.5.4
backcall==0.2.0
bcolors==1.0.2
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
cheroot==8.5.1
click==7.1.2
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
DateTime==4.3
decompyle3 @ git+https://github.com/rocky/python-decompile3@47b5587b0a18b9fa7bea901a3694b56cb9c7f073
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.2.4
dnspython==2.1.0
email-validator==1.1.2
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
hyperlink==20.0.1
idna==3.1
incremental==17.5.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaraco.functools==3.1.0
jedi==0.17.2
Jinja2==3.0.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
lxml==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
more-itertools==8.6.0
nbclient==0.5.1
nbconvert==6.5.1
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
packaging==20.4
pandocfilters==1.4.3
parsel==1.6.0
parso==0.7.1
pickleshare==0.7.5
Pillow==8.2.0
pipenv==2020.11.15
prometheus-client==0.8.0
prompt-toolkit==3.0.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.9.0
PyHamcrest==2.0.2
pymongo==3.11.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
pywin32==300
pywinpty==0.5.7
pyzmq==20.0.0
requests==2.25.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
soupsieve==2.1
spark-parser==1.8.9
SQLAlchemy==1.3.22
sqlparse==0.4.1
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.1
traitlets==5.0.5
uncompyle6==3.7.4
urllib3==1.26.5
virtualenv==20.1.0
virtualenv-clone==0.5.4
w3lib==1.22.0
wcwidth==0.2.5
web.py==0.62
webencodings==0.5.1
Werkzeug==1.0.1
WTForms==2.3.3
xdis==5.0.9
zope.interface==5.2.0
